* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #ccc;
  height: 100vh;
}

.button-creator {
  display: grid;
  grid: 30px;
  padding: 12px;
  height: 100%;
  grid-template-columns: 200px 1fr;
}

#controles {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.css {
  font-family: "IBM Plex Mono", monospace;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: 0.5rem;
}

.resultado {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  padding: 10px;
}

label {
  display: block;
  margin-bottom: 0.6rem;
}

input {
  display: block;
}
